.btn{
	@extend .transition;
	padding: 5px 20px;
	color: $text-light;
	font-size: 16px;
	background-color: transparent;
	border: 1px solid $border-light-btn-rounded;

	&:hover{
		background-color: white;
	}
	&.rounded{
		border-radius: 15px;
	}
	&.dark{
		border: 1px solid $border-dark-btn-rounded;
		color: $text-dark;
		&:hover{
			background-color: $border-dark-btn-rounded-hover;
			color: $text-light;
			border: 1px solid $border-dark-btn-rounded-hover;
		}
	}
}