.fa{
	@extend .transition;
	width: 32px;
	height: 32px;
	background-color: $fa-bg;
	line-height: 32px;
	text-align: center;
	color: $white;
	border-radius: 50%;
	cursor: pointer;
	&:hover{
		background-color: $fa-hover;
	}

	&.big{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.5em;
	}

	&.active{
		background-color: $fa-hover;
		&:hover{
			background-color: $fa-bg;
		}
	}
}

.box_angle_down{
	position: absolute;
	bottom: 0;
}